<form [formGroup]="productForm" class="m-4" (submit)="saveProduct($event)">
  <div class="mb-6">
    <label for="image" class="block mb-2 text-sm font-medium text-gray-900">
      Image
    </label>
    <input
      id="image"
      type="text"
      formControlName="image"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
    />
  </div>
  <div>
    <label for="name" class="block mb-2 text-sm font-medium text-gray-900">
      Name
    </label>
    <input
      id="name"
      type="text"
      formControlName="name"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
    />
  </div>
  <div>
    <label
      for="description"
      class="block mb-2 text-sm font-medium text-gray-900">
      Description
    </label>
    <textarea
      id="description"
      type="text"
      formControlName="description"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
    ></textarea>
  </div>
  <div>
    <label for="price" class="block mb-2 text-sm font-medium text-gray-900">
      Price
    </label>
    <input
      id="price"
      type="number"
      formControlName="price"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
    />
  </div>
  <div class="flex">
    <pf-button
      type="button"
      label="Reset"
      class="m-4"
      (click)="resetForm()"
    ></pf-button>
    <pf-button type="submit" label="Save" class="m-4"></pf-button>
  </div>
</form>
