<header class="container py-8 flex mx-auto">
  <div class="mx-auto flex cursor-pointer">
    <a [routerLink]="['/']">
      <div class="flex mx-auto">
        <img
          src="/assets/img/heart.svg"
          class="h-24 md:h-16 my-auto"
          alt="Heart Logo"
        />
        <span class="text-6xl my-auto mx-4 great-vibes hidden md:inline-block">
          Pigs & Flies
        </span>
        <img
          src="/assets/img/heart.svg"
          class="h-16 my-auto hidden md:block"
          alt="Heart Logo"
        />
      </div>
    </a>
  </div>

  <a
    [routerLink]="['/cart']"
    class="rounded-full bg-pink-300 h-16 w-16 flex hover:bg-pink-400 cursor-pointer mx-4 my-auto relative transition-colors"
  >
    <img src="/assets/img/basket.svg" class="h-8 m-auto" alt="basket" />
    <span
      class="rounded-full absolute top-0 right-0 h-5 w-5 flex bg-purple-300"
    >
      <span class="m-auto">{{ totalItemsInCart }}</span>
    </span>
  </a>
</header>
