<div class="h-full flex flex-col container md:w-1/2 mx-auto">
  <div class="text-3xl mx-auto my-4">Your Cart</div>
  <div *ngIf="items; else noItems">
    <pf-cart-card *ngFor="let item of items" [item]="item"></pf-cart-card>
  </div>
  <ng-template #noItems>
    <div class="text-center my-8" v-else>
      <span class="text-3xl text-gray-500">No items in cart!</span>
    </div>
  </ng-template>
  <div class="my-8 ml-auto mr-4 text-3xl text-gray-500" v-if="totalPrice > 0">
    Total: {{ totalPrice | currency }}
  </div>
</div>
