<div
  class="flex flex-col md:flex-row"
  *ngIf="product$ | async as product"
>
  <div class="md:w-1/2 flex">
    <img [src]="product.image" class="m-auto w-1/2" alt="{{ product.name }}" />
  </div>
  <div class="flex md:w-1/2 m-4">
    <pf-card class="m-auto bg-pink-200 border-2 border-indigo-500">
      <div class="p-4">
        <pf-card-title>
          {{ product.name }}
          <span price>
            {{ product.price | currency }}
          </span>
        </pf-card-title>
        <p class="max-w-xl my-8">{{ product.description }}</p>
        <pf-button
          type="button"
          label="Add to Cart"
          (click)="handleAddToCart(product)"
        ></pf-button>
      </div>
    </pf-card>
  </div>
</div>
